<span style="font-size: 24px; font-weight: bold; color: navy">Machine Learning with Rana Mudassar Hayat</span>

<span style="font-size: 20px; font-weight: bold; color: navy">Assignment No: 1</span>

<span style="font-size: 20px; font-weight: bold; color: navy">Name: Musharaf Ahsan</span>

<span style="font-size: 20px; font-weight: bold; color: navy">Basics of Python</span>

---

In [1]:
print("Learning ML with Rana Mudassar Sb")
print("I'm a student of Cholistan University of veterinary and Animal Sciences Bahawalpur")

Learning ML with Rana Mudassar Sb
I'm a student of Cholistan University of veterinary and Animal Sciences Bahawalpur

## **02- Operators**

In [4]:
print("The sum of the two numbers is: ", 90 + 88)            # Addition
print("The result of subtraction is: ", 89 - 43)            # Subtraction
print("The product of the numbers is: ", 8 * 78)             # Multiplication
print("The result of division is: ", 90 / 2)             # Division
print("The result of integer division is: ", 64 // 4)            # Double Division
print("The result of exponentiation is: ", 2 ** 3)             # Power
print("The remainder of the division is: ", 9 % 2)              # Reminder
print("The result of the equation is: ", 68 // 4 * 9 + 8 - 10)     # Equation

The sum of the two numbers is:  178
The result of subtraction is:  46
The product of the numbers is:  624
The result of division is:  45.0
The result of integer division is:  16
The result of exponentiation is:  8
The remainder of the division is:  1
The result of the equation is:  151

**PEMDAS
Parenthesis, Exponents, multiply, Divide, Addition & Substraction**

**Left to right sequence for M D & A S**

## **03- Strings**

*we can write string in single qoutes(' '), in double qoiutes(" ") and In tripple qoutes('''  ''')*

In [5]:
print('Single Qoutes')
print("Double Qoutes")
print('''Triple Qoutes''')

Single Qoutes
Double Qoutes
Triple Qoutes

*now what is the difference*

In [6]:
print("What's up")

What's up

*agr hm ise single qoutes me likhain gy to ye consider nhi kre ga*

## **04- Variables**
*variables: objects containing specific values.*

In [8]:
x=10    #Numeric or Integer Variable
print(x)

y="I'm Pakistani!"    #string variable
print(y)
x=40   #Here the valuae of x is updating by 40.It works same for 'y'..Only happen in Python not in C/C++
print(x)
x=x+10      #Another way to update value of x....
print(x)
z='?'
print(z)

10
I'm Pakistani!
40
50
?

##### **Types/Class of Variables.**
##### **A Function to Check Types of Variables.**

In [9]:
type(x)
print(type(x))
type(y)
print(type(y))
type(z)
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

## **Rules to Assign a Variable**
***1. The variable should contain lettes, numbers or underscore..***

***2. Do not start with numbers.***

***3. Spaces are not allowed.***

***4. Do not use keywords used in function like (break, mean ,media, test etc..)***

***5. Short and discriptive***

***6. case senstivity (lower case and upercase letter shoul be used)***

In [5]:
fruit="mangoes"
print(fruit)
print(type(fruit))

mangoes
<class 'str'>

## **05- Input Variables**
### **Simple Input Function**

In [11]:
fruit_basket=input("what is your favourite fruit?  ")
print(fruit_basket)

what is your favourite fruit?  mango
mango

### **Input Function of 2nd Stage**

In [9]:
name=input("what is your name? ")
greeting="Hello!"
print(greeting,name)

Hello! Ahsan

### **Input Function of 3rd Stage**

In [8]:
name=input("what is your name? ")
print(type(name))
age=input("what is your age? ")
age=int(age)      #In this line we are changing the data type of variable 
print(type(age))
greeting="Hello!"
print (greeting, name, "You are still young!")

<class 'str'>
<class 'int'>
Hello! ahsan You are still young!

## **06- Conditional Logics**
**Logical Operators are "TRUE/FALSE", "YES/NO" or "0/1"**

***1. equal to                        ==***

***2. not equal to                    !=***

***3. less than                       <***

***4. greater than                    >***

***5. less than and equal to          <=***

***6. greater than equal to           >=***

## **is 4 equal to 4?**

In [10]:
print("Is 4 equal to 4? ", 4 == 4)
print("Is 4 not equal to 9? ", 4 != 9)
print("Is 4 greater than 3? ", 4 > 3)
print("Is 3 less than 6? ", 3 < 6)
print("Is 3 less than or equal to 5? ", 3 <= 5)
print("Is 5 greater than or equal to 4? ", 5 >= 4)

Is 4 equal to 4?  True
Is 4 not equal to 9?  True
Is 4 greater than 3?  True
Is 3 less than 6?  True
Is 3 less than or equal to 5?  True
Is 5 greater than or equal to 4?  True

## **Application of Logical Operators**

In [15]:
ali_age=4
age_at_school=5
print(ali_age==age_at_school)

False

### **Input Function and Logical Operator**

In [16]:
age_at_school=5
student_age=input("How old is student? ")   #INPUT FUNCTION
student_age=int(student_age)                #CONVERTING string INTO int DATA TYPE
print (type(student_age))
print(student_age>=age_at_school)           #LOGICAL OPERTAOR

How old is student? 4
<class 'int'>
False

## **07- if,else & elif**

In [20]:
student_age=input("How old is student? ")
student_age=int(student_age)
required_age_at_school=5
if student_age==required_age_at_school:
    print("Congrats sudent can join tha school.")
elif student_age > required_age_at_school:
    print("student should join Higher secondary school.")
elif student_age <= 2:
    print("you shoul take care of student he/she is a still baby")
else:
    print("student can't join the school.")

How old is student? 5
Congrats sudent can join tha school.

## **8- Loops**
###  **While Loop**

In [27]:
x=0
while (x<=10):
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

### **For Loop**

In [28]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### **Array**

In [18]:
days=["mon","tue","wed","thu","fri","sat","sun"]
days

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

In [17]:
days=["mon","tue","wed","thu","fri","sat","sun"]
for d in days:
    if (d=="fri"):
        break         #loop stops
    print(d)

mon
tue
wed
thu

In [16]:
days=["mon","tue","wed","thu","fri","sat","sun"]
for d in days:
            #loop stops
    if (d=="fri"):
        continue        #skips d
    print(d)

mon
tue
wed
thu
sat
sun

----